*{

}

.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-base1: #446CB3;
    -fx-base2: black;
    -fx-base3: White;
}

.background {
    -fx-background-color: derive(#EDEDED,20%);
}

/*TABBED PANES*/
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: derive(#EDEDED,20%);
}
.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab-pane .tab
{
    -fx-background-color: derive(#EDEDED,-20%);

}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-base2;
    -fx-font-size: 14px;
}
.tab-pane .tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-base3;
    -fx-font-size: 14px;
}
.tab-pane .tab:selected
{
  -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-base1,-90%) 0%, derive(-fx-base1,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-base1,-60%) 0%, derive(-fx-base1,-35%) 50%, derive(-fx-base1,-30%) 98%, derive(-fx-base1,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 190%, rgba(0,0,0,0.3) 200%);
    -fx-text-fill: -fx-base3;
}



/*LABELS*/
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}
.label-button {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #d8d8d8;
    -fx-opacity: 1;
}

.labelConnect {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.label-Subheader {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}
.lable-error{
	-fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ff0000;
    -fx-opacity: 1;
}
.lable-avail{
	-fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #008b00;
    -fx-opacity: 1;
}


/*LIST VIEW*/
.list-view .list-cell{
    -fx-font-size: 15px;
    -fx-text-fill: -fx-base2;
}
.list-view .list-cell:filled:selected:focused, .list-cell:filled:selected {
  -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-base1,-90%) 0%, derive(-fx-base1,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-base1,-60%) 0%, derive(-fx-base1,-35%) 50%, derive(-fx-base1,-30%) 98%, derive(-fx-base1,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 190%, rgba(0,0,0,0.3) 200%);
    -fx-text-fill: -fx-base3;
}

.list-view .list-cell:even { /* <=== changed to even */
    -fx-background-color: #F4F4F4;
}
.list-view .list-cell:odd { /* <=== changed to even */
    -fx-background-color: #EAEAEA;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: -fx-base1;
    -fx-text-fill: #EDEDED;
}


/*MENU BAR*/
.menu-bar {
    -fx-background-color: derive(#ECECEC,18%);
}

.context-menu {
    -fx-background-color: derive(#ECECEC,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.menu .left-container {
    -fx-background-color: -fx-base2;
}

/*Text Feild*/
.text-field {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
}

/*BUTTON*/
/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-background-radius: 1;
    -fx-background-color: -fx-base1;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: -fx-base1;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-base1,-90%) 0%, derive(-fx-base1,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-base1,-60%) 0%, derive(-fx-base1,-35%) 50%, derive(-fx-base1,-30%) 98%, derive(-fx-base1,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 190%, rgba(0,0,0,0.3) 200%);
    -fx-text-fill: #EDEDED;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #EDEDED;
    -fx-text-fill: #1d1d1d;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

/*TOGGLE BUTTON*/
.toggle-button:selected{
  -fx-background-radius: 0;
  -fx-background-color: #00CD66;
  -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(#00CD66,-90%) 0%, derive(#00CD66,-60%) 100%),
        linear-gradient(to bottom, derive(#00CD66,-60%) 0%, derive(#00CD66,-35%) 50%, derive(#00CD66,-30%) 98%, derive(#00CD66,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 190%, rgba(0,0,0,0.3) 200%);
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 11pt;
  -fx-text-fill: #4EEE94;
  -fx-background-radius: 0px, 0px, 0px, 0px;
}
.toggle-button{
  -fx-background-radius: 1;
  -fx-background-color: derive(#EE5C42,40%);
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 11pt;
  -fx-text-fill: #5E2612;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.toggle-button-cust:selected{
  -fx-background-radius: 0;
  -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-base1,-90%) 0%, derive(-fx-base1,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-base1,-60%) 0%, derive(-fx-base1,-35%) 50%, derive(-fx-base1,-30%) 98%, derive(-fx-base1,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 190%, rgba(0,0,0,0.3) 200%);
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 11pt;
  -fx-text-fill: -fx-base3;
  -fx-background-radius: 0px, 0px, 0px, 0px;
}
.toggle-button-cust{
  -fx-background-radius: 1;
  -fx-background-color: -fx-base1;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 11pt;
  -fx-text-fill: -fx-base3;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
}




/*COMBOBOX*/
.combo-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-base3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}
.combo-box:selected {
    -fx-text-fill: -fx-base2;
}

.combo-box .list-view .list-cell:hover{
    -fx-text-fill: -fx-base3;
    -fx-background-color: -fx-base1;
}
.combo-box .cell:selected {
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-base3;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
  -fx-text-fill: -fx-base2;
}
.combo-box .cell:even {
    -fx-background-color: #EDEDED;
}
.combo-box .cell:odd {
    -fx-background-color: #EDEDED;
}
.combo-box .cell:filled:selected:focused , .cell:filled:selected{
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-base3;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
  -fx-text-fill: -fx-base2;
}
